openapi: 3.0.1
info:
  title: Warranty Check Definition
  version: 'RC-4549-2022.08.31_11.29.40'
  description: |
    <font color="red"> **Note**:</font> This API is available only on external Kong
servers:
  - url: 'https://api-gw.support.hpe.com/apigwext'
paths:
  /support/entitlement/v1/warrantyCheck/{sn}:
    get:
      tags:
        - Warranty check external API
      summary: Returns enriched CUE based on SN
      operationId: warrantyCheckBySn
      security:
        - bearerAuth: []
      parameters:
        - name: sn
          in: path
          required: true
          schema:
            type: string
        - name: cc
          in: query
          required: false
          schema:
            type: string
        - name: useCache
          in: query
          required: false
          schema:
            type: boolean
            default: true
        - name: includeExpired
          in: query
          required: false
          schema:
            type: boolean
            default: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EntitlementBySnPnHSL'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/400'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/403'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/404'
        '429':
          description: Too many requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/429'
        '500':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/500'
        '503':
          description: Service Unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/503'
  /support/entitlement/v1/warrantyCheck/{sn}/{pn}:
    get:
      tags:
        - Warranty check external API
      operationId: warrantyCheckBySnPn
      summary: Returns the enriched CUE based on SN,PN,
      security:
        - bearerAuth: []
      parameters:
        - name: sn
          in: path
          required: true
          schema:
            type: string
        - name: pn
          in: path
          required: true
          schema:
            type: string
        - name: cc
          in: query
          required: false
          schema:
            type: string
        - name: useCache
          in: query
          required: false
          schema:
            type: boolean
            default: true
        - name: includeExpired
          in: query
          required: false
          schema:
            type: boolean
            default: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EntitlementBySnPnHSL'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/400'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/403'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/404'
        '429':
          description: Too many requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/429'
        '500':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/500'
        '503':
          description: Service Unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/503'
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
  schemas:
    '400':
      type: object
      properties:
        type:
          type: string
          example: about:blank
        title:
          type: string
          example: Bad Request
        status:
          type: integer
          format: int32
          example: '400'
        detail:
          type: string
          example: Missing security headers. Either 'Authorization' or a combination of 'X-Communication-Id' and 'X-Auth-Token' are required
        instance:
          type: string
          example: /entitlement-api-service/entitlements/entitlement/Test
        message:
          type: string
          example: Missing security headers. Either 'Authorization' or a combination of 'X-Communication-Id' and 'X-Auth-Token' are required
        tracking-id:
          type: string
          example: 8c74ca41-0a97-4bee-a723-3f3fc1fdbfa9
    '401':
      type: object
      properties:
        type:
          type: string
          example: about:blank
        title:
          type: string
          example: Unauthorized
        status:
          type: integer
          format: int32
          example: '401'
        detail:
          type: string
          example: 'Access token expired: TOKEN'
        instance:
          type: string
          example: /entitlement-api-service/entitlements/user/8af1a8aa4001624d955126a63d2fe3a0
    '403':
      type: object
      properties:
        message:
          type: string
          example: Access denied
        trackingId:
          type: string
          example: a4a701ef-f22b-4c97-bb84-497900563676
    '404':
      type: object
      properties:
        id:
          type: string
          example: '300'
        idClass:
          type: string
          example: DataNotFound
        message:
          type: string
          example:
            id: '300'
            idClass: DataNotFound
            message: No data found
    '429':
      type: object
      properties:
        id:
          type: string
          example: '429'
        idClass:
          type: string
          example: tooManyRequests
        message:
          type: string
          example: Too Many Requests
    '500':
      type: object
      properties:
        message:
          type: string
          example: Internal server error
        trackingId:
          type: string
          example: 59a4731f-c6ef-4bf6-a9fd-f45c13a6ffb5
    '503':
      type: object
      properties:
        message:
          type: string
          example: An I/O error has occurred on make http request.
        trackingId:
          type: string
          example: 80dc471d-43d2-436a-864e-d6477781e4d2
    400-userID:
      type: object
      properties:
        type:
          type: string
          example: about:blank
        title:
          type: string
          example: Bad Request
        status:
          type: integer
          format: int32
          example: '400'
        detail:
          type: string
          example: Missing security headers. Either 'Authorization' or a combination of 'X-Communication-Id' and 'X-Auth-Token' are required
        instance:
          type: string
          example: /entitlement-api-service/entitlements/user/8af1a8aa4001624d955126a63d2fe3a0
        message:
          type: string
          example: Missing security headers. Either 'Authorization' or a combination of 'X-Communication-Id' and 'X-Auth-Token' are required
        tracking-id:
          type: string
          example: c509fa76-1eb3-48c9-90a9-ffef02de1aa0
    404-userID:
      type: object
      properties:
        message:
          type: string
          example: No more entitlements found
        trackingId:
          type: string
          example: 3079793b-5705-4795-a1d9-20a8197bc579
    500-userID:
      type: object
      properties:
        message:
          type: string
          example: 'Failed to convert value of type ''java.lang.String'' to required type ''int''; nested exception is java.lang.NumberFormatException: For input string: 100000000000000'
        trackingId:
          type: string
          example: 05f543bb-395b-4f54-a718-f264f929d7e2
    AppliesTo:
      type: object
      properties:
        oosRef:
          type: string
          example: ID_29406_2
        status:
          type: string
          example: A
        deliveryBlock:
          type: string
          example: null
        startDate:
          type: string
          example: '2016-12-08'
        endDate:
          type: string
          example: '2115-12-07'
    CurrentSupportLevel:
      type: object
      properties:
        serviceLevel:
          type: string
          example: Warranty
        contractLevel:
          type: string
          example: Warranty
    Deliverable:
      type: object
      properties:
        deliverableCode:
          type: string
          example: WTY_PARTSEX_PARTS_EXCHANGE_B
        deliverableName:
          type: string
          example: Parts Exchange
        deliverableValue:
          type: string
          example: 'Y'
        deliverableModifier:
          type: array
          example: []
          items:
            $ref: '#/components/schemas/DeliverableModifier'
    DeliverableModifier:
      type: object
      properties:
        modifierName:
          type: string
        modifierValue:
          type: string
        modifierDescription:
          type: string
    ExtendedStatus:
      type: object
      properties:
        id:
          type: string
          example: '300'
        idClass:
          type: string
          example: DataNotFound
        message:
          type: string
          example: 'Legacy :  No data found'
    OOS:
      type: object
      properties:
        oosRef:
          type: string
          example: ID_29406_2
        oosType:
          type: string
          example: HW
        serialNumber:
          type: string
          example: CN18BYV0G7
        oosGroupId:
          type: string
          example: null
        product:
          $ref: '#/components/schemas/Product'
    Offer:
      type: object
      properties:
        offerId:
          type: string
          example: ID_29406_3
        offerCode:
          type: string
          example: HA155BW
        entitlementId:
          type: string
          example: CN18BYV0G7||JE069A
        offerType:
          type: string
          example: Non packaged
        parentOfferId:
          type: string
          example: null
        supportLevel:
          $ref: '#/components/schemas/SupportLevelByUserId'
        currentSupportLevel:
          $ref: '#/components/schemas/CurrentSupportLevel'
        offerDescription:
          type: string
          example: 'Wty: HP Parts Exchange Support'
        serviceProductType:
          type: string
          example: null
        serviceProductLine:
          type: string
          example: null
        modifier:
          type: array
          items:
            $ref: '#/components/schemas/Modifier'
        deliverable:
          type: array
          items:
            $ref: '#/components/schemas/Deliverable'
        appliesTo:
          type: array
          items:
            $ref: '#/components/schemas/AppliesTo'
    Modifier:
      type: object
      properties:
        modifierName:
          type: string
          example: WTY_PARTSEX_RESP_METH_REMOTE_B
        modifierValue:
          type: string
          example: NA
        modifierDescription:
          type: string
          example: NextAvail TechResource Remote
    Product:
      type: object
      properties:
        productNumber:
          type: string
          example: JE069A
        description:
          type: string
          example: HPE 5500/5120 2-port dummy 10GbE SFP+ Module
        productLineCode:
          type: string
          example: '34'
        productLineDescription:
          type: string
          example: FlexNetwork Switchin
    SupportLevel:
      type: object
      properties:
        serviceLevel:
          type: string
          example: Warranty
        serviceLevelRank:
          type: integer
          format: int32
          example: 10
        contractLevel:
          type: string
          example: Warranty
        contractLevelRank:
          type: integer
          format: int32
          example: 1
        startDate:
          type: string
          example: '2009-09-01'
        endDate:
          type: string
          example: '2108-10-15'
    SupportLevelByUserId:
      type: object
      properties:
        serviceLevel:
          type: string
          example: Warranty
        serviceLevelRank:
          type: integer
          format: int32
          example: 10
        contractLevel:
          type: string
          example: Warranty
        contractLevelRank:
          type: integer
          format: int32
          example: 1
        startDate:
          type: string
          example: '2016-12-08'
        endDate:
          type: string
          example: '2115-12-07'
    EntitlementBySnPnHSL:
      type: object
      properties:
        entitlementBySnPnInstanceHSLList:
          type: array
          items:
            $ref: '#/components/schemas/EntitlementBySnPnInstanceHSL'
    EntitlementBySnPnInstanceHSL:
      type: object
      properties:
        log_tracking_id:
          type: string
          example: 95cfaa3b-f86d-42f9-9ab1-b26a28ae2543
        serialNumber:
          type: string
          example: CZJ635566T
        productNumber:
          type: string
          example: 382197-421
        countryCode:
          type: string
          example: US
        supportLevels:
          type: array
          items:
            $ref: '#/components/schemas/SupportLevel'
        currentHighestSupportLevel:
          $ref: '#/components/schemas/CurrentSupportLevel'
    EntitlementByUserInstanceHSL:
      type: object
      properties:
        entitlementId:
          type: string
          example: CN18BYV0G7||JE069A
        entitlementTypeCode:
          type: string
          enum:
            - C
            - P
            - W
          example: w
        startDate:
          type: string
          example: '2016-12-08'
        endDate:
          type: string
          example: '2115-12-07'
        supportLevels:
          type: array
          items:
            $ref: '#/components/schemas/SupportLevel'
        extendedStatus:
          type: array
          items:
            $ref: '#/components/schemas/ExtendedStatus'
        currentSupportLevel:
          $ref: '#/components/schemas/CurrentSupportLevel'
    self:
      type: object
      properties:
        href:
          type: string
          example: http://localhost:9060/entitlement-api-service/entitlements/external/user/DummyUser-atHPP_new?userHsl=false&page=1&perPage=1
    prev:
      type: object
      properties:
        href:
          type: string
          example: http://localhost:9060/entitlement-api-service/entitlements/external/user/DummyUser-atHPP_new?userHsl=false&page=0&perPage=1
          description: Optional value
    next:
      type: object
      properties:
        href:
          type: string
          example: http://localhost:9060/entitlement-api-service/entitlements/external/user/DummyUser-atHPP_new?userHsl=false&page=2&perPage=1
          description: Optional value
    EntitlementByIdHSL:
      type: object
      properties:
        entitlementByIdInstanceHSLList:
          type: array
          items:
            $ref: '#/components/schemas/EntitlementByIdInstanceHSL'
    EntitlementByIdInstanceHSL:
      type: object
      properties:
        log_tracking_id:
          type: string
          example: 05a82990-03d3-4a4e-8dbc-409b4774171b
        entitlementId:
          type: string
          example: '106137911282'
        supportLevels:
          type: array
          items:
            $ref: '#/components/schemas/SupportLevel'
        currentHighestSupportLevel:
          $ref: '#/components/schemas/CurrentSupportLevel'
    EntitlementByUserHSL:
      type: object
      properties:
        currentHighestSupportLevel:
          $ref: '#/components/schemas/CurrentSupportLevel'
        entitlementList:
          type: array
          items:
            $ref: '#/components/schemas/EntitlementByUserInstanceHSL'
        entitlementsTotal:
          type: integer
          format: int32
          example: 1
        _links:
          type: object
          properties:
            self:
              $ref: '#/components/schemas/self'
            prev:
              $ref: '#/components/schemas/prev'
            next:
              $ref: '#/components/schemas/next'
